html, body {
    /*font-size:                          12px !important;*/
    text-align:                         center;
}
html, body, td, th {
    font-family: 'Arial', 'Verdana', 'Helvetica', sans-serif;
    font-weight: normal;
}
#menu .ui-button .ui-button-text {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top: 2px;
}
#menu {
    padding: 10px;
}


